<!DOCTYPE html>
<html>

<head>
    <title>DigiDoc</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/uikit/css/uikit.min.css" />
    <script src="/static/uikit/js/uikit.min.js"></script>
    <script src="/static/uikit/js/uikit-icons.min.js"></script>
</head>




<body bgcolor="#f9f9f9">
    <center><br><br><br>

        <div class="uk-card uk-card-default uk-width-1-2@m">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="50" height="50" src="/static/imgs/VeeryIcon.png">
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Digitalize Paper Documents</h3>
                        <!--<p class="uk-text-meta uk-margin-remove-top">Digitalize Paper Document</p>-->
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <form action="http://localhost:5000/uploader" method="POST" enctype="multipart/form-data">
                    <div class="uk-margin" uk-margin>
                        <div uk-form-custom="target: true">
                            <input type="file" name="file">
                            <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
                        </div>
                        <button class="uk-button uk-button-default">Submit</button>
                    </div>
                </form>
            </div>
            <div class="uk-card-footer">
                <a href="#" class="uk-button uk-button-text">Read more</a>
            </div>
        </div><br><br><br>


<!--
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <img src="/static/imgs/VeeryIcon.png" alt="">
                <canvas width="10" height="10"></canvas>
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Media Left</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
        </div><br><br></br>
        





        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <h3 class="uk-card-title">DigiDoc</h3>
            <p>Digitalize Paper Documents</p>
            <form action="http://localhost:5000/uploader" method="POST" enctype="multipart/form-data">
                <div class="uk-margin" uk-margin>
                    <div uk-form-custom="target: true">
                        <input type="file" name="file">
                        <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
                    </div>
                    <button class="uk-button uk-button-default">Submit</button>
                </div>
            </form>
        </div>
-->


    </center>
</body>

</html>